<!DOCTYPE html>
<html ng-app="HaApp">
<head>
    <meta charset="utf-8">
    <title>Floorplan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <link rel="stylesheet" href="css/app.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="js/vendors.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/app.min.js"></script>
</head>
<body ng-controller="HaMain">
  {{{svg}}}
</body>
</html>
